body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.add_password_title {
    display: inline-block;
    color: white;
    text-align: center;
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

form {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 48%; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

input {
    font-size: 22px;
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border: 1px solid #ff9900; /* Golden border color */
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
}

#category {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid #ff9900; /* Golden border color */
    border-radius: 5px;
}

#twoFactorInfo {
    color: white;
    font-size: 22px;
    outline: none;
    background-color: transparent;
    border: 1px solid #ff9900; /* Golden border color */
    border-radius: 5px;
}

select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.add_password_btn {
    background-color: #0099ff;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    color: black;
    font-size: 24px;
}

.add_password_btn:hover {
    background-color: rgb(0, 102, 255);
}

.cancel_btn {
    font-size: 24px;
    background-color: red;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    margin: auto auto auto 18px;
    color: white;
}

.cancel_btn:hover {
    background-color: rgb(218, 43, 20);
}

.hidden {
    display: none;
}
.flex-container {
    display: flex;
}

input[type="checkbox"] {
    width: 20px; /* Set the width for the checkbox */
    height: 20px;
    margin-right: 10px;
}

label {
    flex-grow: 1; /* Let the label take up the remaining space */
}

.error_msg {
    color: red;
}

.error_add_pass {
    padding: 0;
    text-align: center;
    color: red;
    font-size: 20px;
}

.success_add_pass {
    padding: 0;
    text-align: center;
    color: green;
    font-size: 20px;
}

