body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.welcome {
    display: inline-block;
    color: white;
    text-align: center;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

.main {
    display: flex;
    padding: 2px 2px 20px 2px;
}

.menu {
    width: 44%;
    height: 400px;
    margin: auto;
    text-align: justify;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: -0.5px 0.5px 6px 0 gray;
}

.password-generator {
    width: 44%;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: -0.5px 0.5px 6px 0 gray;
}

.generator_title {
    font-size: 30px;
    color: #0099ff;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
}

#password_field {
    width: 500px;
    font-size: 28px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid gray;
    margin-bottom: 20px;
    outline: none;
    box-shadow: -0.5px 0.5px 6px 0 gray;
}

.password_length {
    font-size: 20px;
}

#password_length {
    font-size: 20px;
    margin-bottom: 20px;
}

.generate_button {
    padding: 14px;
    font-size: 24px;
    color: #0099ff;
    background: transparent;
    border-radius: 12px;
    border: 2px solid #0099ff;
}

.menu-items {
    background-color: #0099ff;
    height: 50px;
    width: 500px;
    padding: 12px 8px 8px 20px;
    margin: 25px auto 25px auto;
    border-radius: 12px;
    box-shadow: -0.5px 0.5px 6px 0 gray;
}

.menu-items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    outline: none;
    width: 480px;
    height: 24px;
    text-decoration: none;
}

.add-password {
    background-image: url('../images/plus-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.view-passwords {
    background-image: url('../images/eye-regular.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.settings {
    background-image: url('../images/gear-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.secret-key {
    background-image: url('../images/key-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-option {
    margin-left: 60px;
    font-size: 28px;
    font-weight: bold;
    color: black;

}
