body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.delete_title {
    display: inline-block;
    color: white;
    text-align: center;
}

h1 span {
    color: red;
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

.main {
    width: 800px;
    margin: auto;
}

h2 {
    color: #0099ff;
}

li {
    font-size: 20px;
}

form {
    text-align: center;
}

label {
    color: white;
    font-size: 20px;
}

input {
    margin: 12px;
    width: 288px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1.5px solid #ff9900;
    border-radius: 4px;
    padding: 10px;
}

.cancel_btn {
    font-size: 18px;
    background-color: #0099ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    padding: 10px;
}

.cancel_btn:hover {
    background-color: rgb(0, 102, 255);
}

.delete_btn {
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    margin-left: 6px;
}

.delete_btn:hover {
    background-color: rgb(218, 43, 20);
}
