footer {
    background-color: black;
    color: #ff9900;
    text-align: center;
    padding: 14px 0px 0px 0px;
}

.footer {
    color: #ff9900;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    font-size: 20px;
    color:#0099ff;
    padding: 8px 2px 8px 2px;
}