.registration-form {
    background-color: #000; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 380px;
    margin: auto;
}

.registration-form h2 {
    color: #0099ff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
font-size: 18px;
    display: block;
    color: #ff9900; /* Golden text color */
    margin-bottom: 5px;
}

.form-group input {
font-size: 18px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ff9900; /* Golden border color */
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
}

.form-group input[type="submit"] {
    background-color: #ff9900; /* Golden submit button color */
    color: #000; /* Black text color */
    cursor: pointer;
    border-radius: 20px;
}

.form-group input[type="submit"]:hover {
    background-color: #DAA520; /* Darker golden hover color */
}

p {
color: white;
text-align: center;
}