body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.welcome {
    display: inline-block;
    color: white;
    text-align: center;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

.main {
    margin: auto;
    width: 50%;
}

h2 {
    text-align: center;
    color: #0099ff;
}

form {
    margin: auto;
    width: 440px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

input {
    font-size: 22px;
    width: 440px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ff9900; /* Golden border color */
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
}

button {
    font-size: 24px;
    background-color: #0099ff;
    color: black;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 440px;
}

button:hover {
    background-color: rgb(0, 102, 255);
}