body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.support_title {
    display: inline-block;
    color: white;
    text-align: center;
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.main {
    display: flex;
}

.faqs {
    height: 440px;
    width: 620px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    border-right: 1.5px solid #0099ff;
}

.contact {
    height: 440px;
    width: 620px;
    margin: auto;
    padding: 10px;
}

.contact p {
    color: gray;
    font-size: 20px;
    margin-left: 20px;
}

h2 {
    color: #0099ff;
    font-size: 26px;
}

p {
    font-style: italic;
    font-size: 17px;
}

p b {
    color: white;
    font-family: cursive;
    font-size: 22px;
}

li {
    font-size: 20px;
}

li b {
    color: white;
}

