body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.view_password_title {
    display: inline-block;
    color: white;
    text-align: center;
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

.edit_btn, .view_pass_btn, .view_enc_btn {
    display: block;
    font-size: 18px;
    background-color: #0099ff;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    margin-bottom: 4px;
    text-align: center;
}

.edit_btn:hover {
    background-color: rgb(0, 102, 255);
}

.edit_btn:visited {
    color: white;
}

.view_pass_btn {
    margin: 1% 2% 0 0;
    display: inline;
}

.view_enc_btn {
    background-color: green;
}

.delete_btn {
    display: block;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 4px;
    text-decoration: none;
    text-align: center;
}

.delete_btn:hover {
    background-color: rgb(218, 43, 20);
}

.delete_btn:visited {
    color: white;
}

.no_passwords {
    text-align: center;
    font-size: 22px;
    margin-top: 14%;
}

#export_pass {
    color: white;
    font-weight: 100;
}

.export_logo {
    margin-top: 10px;
    float:right;
    height: 30px;
    width: 30px;
}

.export_passwords {
    font-size: 20px;
    float: right;
    text-decoration: none;
    color: white;
    background-color: #ff9900;
    padding: 10px;
    margin: 0 1% 0 1%;
    /* border: 1.5px solid #0099ff; */
    border-radius: 4px;
    clear: right;
}


.menu {
    float: left;
    background-color: transparent;
    width: 500px;
    margin-left: 10px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    padding: 10px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: transparent;
    margin-bottom: 5px;
    border-bottom: 2px solid #0099ff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.menu li:hover {
    background-color: #005dbb;
    cursor: pointer;
}

.menu .social {
    background-color: #0099ff;
    color: white;
}

.main {
    display: inline-flex;
    border-radius: 10px;
    margin: 14px;
    padding: 0 6px 0 6px;
    box-shadow: 
        5px 0 5px -5px silver, /* Right shadow */
        -5px 0 5px -5px silver, /* Left shadow */
        0 5px 5px -5px silver, /* Bottom shadow */
        0 -5px 5px -5px silver; /* Top shadow */
}

.column1 {
    width: 440px;
    height: 130px;
    margin: 8px 16px 4px 16px;
} 

.column2 {
    /* background-color: pink; */
    width: 580px;
    height: 130px;
    margin: 8px 10px 4px 16px;
}

.column3 {
    /* background-color: pink; */
    width: 226px;
    height: 130px;
    margin: 8px 0px 4px 16px;
}

input {
    font-size: 22px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
    width: 300px;
}

p {
    color: white;
    font-size: 22px;
    display: inline;
}

span {
    color:#ff9900;
    font-weight: bold;
}

.password_label {
    display: none;
    font-size: 20px;
}

.search_passwords {
    float: right;
    margin: 10px;
    width: 350px;
}

.search_field {
    display: inline;
    border: 1.5px solid gray;
    width: 240px;
    border-radius: 4px;
    padding: 8px;
}

.search_button {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #0099ff;
    padding: 10px 8px 8px 8px;
    margin: 0 1% 0 1%;
    border-radius: 4px;
    border-style: none;
}

.hidden_user_id {
    display: none;
}

.hidden_category_info {
    display: none;
}

.application_name {
    background-color: red;
}

.password_found_span {
    background-color: black;
}



