body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ff9900;
}

header {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.view_password_title {
    display: inline-block;
    color: white;
    text-align: center;
}

.logo {
    /* display: inline-block; */
    width: 64px;
    height: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-bottom: 1.5px solid #ff9900;
}

.logout a:hover {
    background-color: #333;
}

table {
    width: 98%;
    margin: 5% 1% 2% 1%;
}

table, th, td {
    border: 1.5px solid #0099ff;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #333;
}

th {
    color: #ff9900;
    font-size: 18px;
}

td {
    color: white;
}

.category_heading {
    color: #0099ff;
    margin-left: 16px;
    font-size: 30px;
}

.application_name {
    width: 160px;
}

.user_id {
    width: 170px;
}

.password_heading {
    width: 190px;
}

.created_at {
    width: 96px;
}

.sec_qna {
    width: 220px;
}

.twofa {
    width: 220px;
}

.actions_heading {
    width: 130px;
}

.name_row {
    color: aqua;
    font-weight: 600;
}

.edit_btn {
    font-size: 18px;
    background-color: #0099ff;
    color: white;
    padding: 10px 16px 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    text-decoration: none;
}

.edit_btn:hover {
    background-color: rgb(0, 102, 255);
}

.edit_btn:visited {
    color: white;
}

.delete_btn {
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}

.delete_btn:hover {
    background-color: rgb(218, 43, 20);
}

.delete_btn:visited {
    color: white;
}

.no_passwords {
    text-align: center;
    font-size: 22px;
    margin-top: 14%;
}

.export_logo {
    margin-top: 10px;
    float:right;
    height: 30px;
    width: 30px;
}

.export_passwords {
    font-size: 20px;
    float: right;
    text-decoration: none;
    color: white;
    background-color: #ff9900;
    padding: 10px;
    margin: 0 1% 0 1%;
    /* border: 1.5px solid #0099ff; */
    border-radius: 4px;
}


.menu {
    float: left;
    background-color: transparent;
    width: 500px;
    margin-left: 10px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    padding: 10px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: transparent;
    margin-bottom: 5px;
    border-bottom: 2px solid #0099ff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.menu li:hover {
    background-color: #005dbb;
    cursor: pointer;
}

.menu .socail {
    background-color: #0099ff;
    color: white;
}


